/* Gallery */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.gallery {
  padding: 130px 0;
}
.gallery-text {
  color: #303030;
  margin-bottom: 44px;
}
.gallery-list {
  display: flex;
  margin-right: -30px;
}
.gallery-list .item {
  width: calc(100% / 4 - 30px);
  margin-right: 30px;
}
