/* Prices */
.prices {
  background-color: #28292b;
}
.prices-body {
  background-image: url(../Images/img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1280px;
  margin: 0 auto;
  padding: 130px 0;
}
.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.prices-title {
  color: #ffffff;
  margin-bottom: 44px;
}
.prices-wrap {
  display: flex;
  margin-bottom: 50px;
}
.price-list {
  width: 50%;
  padding: 30px 40px;
}
.price-list.left {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price-list.right {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices-item {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  text-align: right;
  letter-spacing: 0.02em;
  color: #9da4bd;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
}
.prices-item::before {
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
  margin-right: 6px;
  margin-left: 6px;
}
.prices-item:last-child {
  margin-bottom: 0;
}
.prices-item-text:first-child {
  order: -1;
}
.prices-button,
.online-button {
  color: #ffffff;
  border: 1px solid var(--accent-color);
  display: block;
  margin: 0 auto;
  transition: background-color 350ms ease, color 350ms ease;
}
.prices-button:hover,
.prices-button:focus,
.online-button:hover,
.online-button:focus {
  background-color: var(--accent-color);
}
